body {
  background: #F5F5DC;
}

.jumbotron {
  background: transparent;
  color: white;
  height: 300px;
  text-align: center;
}

.banner {
  background: url("https://s2.best-wallpaper.net/wallpaper/2560x1600/1212/A-cup-of-coffee-coffee-beans-placed-heart-shaped-pattern_2560x1600.jpg");
  background-size: 100%;
  height: 300px;
}

.btn {
  background: #DEB887;
  border: 1px solid #DEB887;
}

.btn:hover {
  background: #614B3A;
  color: white;
  border: 1px solid #614B3A;
}

.nav li {
  padding-right: 4%;
  padding-left: 4%;
  letter-spacing: 1%;
}

.nav li a {
  color: #462E01;
  font-family: 'Satisfy', cursive;
  font-size: 35px;
}

.nav li a:hover {
  color: #E1CE9A;
}

.main {
  background: #462E01;
}

.main .menu {
  width: 120%;
  margin-top: 2%;
}

.main .menu img {
  width: 100%;
  opacity: 0.4;
}

.main .menu span {
  background: #F0AF2D;
}

.main .drink {
  width: 120%;
  margin-top: 2%;
}

.main .drink img {
  width: 100%;
  opacity: 0.4;
}

.main .drink span {
  background: #ADD8E6;
}

.main .drink-warm {
  width: 120%;
  margin-top: 2%;
}

.main .drink-warm img {
  width: 100%;
  opacity: 0.4;
}

.main .drink-warm span {
  background: #7E3300;
}

.main .drink-warm .restauration {
  font-size: 160%;
}

footer {
  text-align: center;
}
